@import url("https://fonts.googleapis.com/css?family=Mulish");

.App {
  text-align: center;
  font-family: Mulish, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* AUTH */
#auth-container {
  margin: auto;
}
#auth-img {
  width: 200px;
  padding-top: 2rem;
  padding-left: 3rem;
}

#auth-card {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  background-color: white;
  width: 30rem;
  min-height: 30rem;
}

#auth-card-header {
  color: #394d6f;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

#auth-card-text {
  text-align: center;
  font-weight: 500;
  color: #c9ced7;
  margin-bottom: 3rem;
}

#auth-form {
  width: 90%;
  margin: auto;
}

/* HOME */
#home-container {
  margin: auto;
}

#home-logo {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

#home-logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #394d6f;
}

#home-content1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  #home-content1 {
    flex-direction: column;
  }
}

#home-content1 Image {
  max-width: 20rem;
  display: flex;
  flex-direction: row;
}

/* SUBSCRIBE PAGE */
#subscribe-container {
  margin: auto;
}

#subscribe-logo {
  text-align: center;
  margin-top: 6rem;
}

#subscribe-logo-text {
  text-align: center;
  color: #394d6f;
}

#subscribe-header-text {
  text-align: center;
}

#subscribe-content1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subscribe-content1-col1 {
  height: 26rem;
}

#subscribe-button {
  position: absolute;
  width: 94%;
  bottom: 1.5rem;
}
/* #nav Button {
  background-color: #20bf6b;
  font-family: "sans-serif";
  border: "transparent";
} */

/* #nav Button:hover {
  background-color: #394d6f;
} */
